/* @theme basetheme */

@import 'default';

/* required for video, do not delete */
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

img {
    background-color: transparent !important;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* you can edit from here */
/* Replace with your font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Roboto+Mono:wght@300;400;500;700&family=Roboto+Slab:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

/* Replace with your font and colors */
:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Nunito', sans-serif;
    --code-font: 'Roboto Mono', monospace;

    --lightmode-background: #FFFFFF;
    --lightmode-text: #333333;
    --lightmode-accent: #CCCCCC;
    --darkmode-background: #333333;
    --darkmode-text: #CCCCCC;
    --darkmode-accent: #666666;
}

h1 {
    font-family: var(--primary-font);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: var(--lightmode-text);
    text-align: center;
}

h2,
h3 {
    font-family: var(--secondary-font);
    font-size: 44px;
    font-weight: 400;
    line-height: 80%;
    color: var(--lightmode-text);
    text-align: center;
}

p {
    font-family: var(--secondary-font);
    font-size: 24px;
    line-height: 100%;
    color: var(--lightmode-text);
}

li {
    font-family: var(--secondary-font);
    font-size: 24px;
    line-height: 100%;
    color: var(--lightmode-text);
}

code {
    background-color: rgba(255, 255, 255, 0.12);
    border-style: none;

    font-family: var(--code-font);
    font-size: 24px;
    color: var(--lightmode-accent);
    line-height: 100%;
    border-radius: 4px;
    overflow-x: auto;
}

pre {
    background-color: rgba(255, 255, 255, 0.12);
    border-style: none;
}

pre code {
    font-family: var(--code-font);
    font-size: 24px;
    color: var(--darkmode-accent);
    line-height: 100%;
    border-radius: 4px;
    overflow-x: auto;

    width: 100%;
}

codetext {
    width: 100%;
}

a {
    color: var(--lightmode-accent);
}

footer {
    background-color: var(--darkmode-background);
    color: var(--darkmode-text);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    padding-left: 32px;

    font-family: var(--primary-font);
    font-size: 10pt;
    text-align: left;
    font-weight: 600;

    height: 29px;

    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    color: var(--lightmode-accent);

    position: absolute;
    top: 14px;
    left: 1174px;

    width: 87px;
}

header p {
    display: flex;
    flex-direction: row;

    color: var(--lightmode-accent);
}

/* ::after is page number */
section::after {
    color: var(--lightmode-accent);

    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 12pt;
    text-align: left;
    font-weight: 600;

    height: 29px;

    position: absolute;
    bottom: -3px;
}

ornamentH {
    background-color: var(--lightmode-accent);

    height: 2px;

    position: fixed;
    left: 66px;
    right: 66px;
    top: 136px;
}

ornamentV {
    background-color: var(--lightmode-accent);

    width: 2px;
    height: 625px;

    position: fixed;
    left: 491px;
    top: 49px;
}

halfc {
    background-color: var(--lightmode-accent);

    position: fixed;
    left: 640px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}









/* 0. TEST COLORS */
section.slide-test-colors left {
    background-color: var(--lightmode-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 50%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
}

section.slide-test-colors left h1 {
    background-color: #ffffff00;
    color: var(--lightmode-text);
}

section.slide-test-colors left h2 {
    background-color: #ffffff00;
    color: var(--lightmode-accent);
}

section.slide-test-colors right {
    background-color: var(--darkmode-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 50%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;
}

section.slide-test-colors right h1 {
    background-color: #ffffff00;
    color: var(--darkmode-text);
}

section.slide-test-colors right h2 {
    background-color: #ffffff00;
    color: var(--darkmode-accent);
}





/* 1. INTRO SLIDE 1 */
section.slide-cover {
    background-color: var(--darkmode-background);
}

section.slide-cover img:not(header img) {
    width: 350px;

    margin-left: auto;
    margin-right: auto;
}

section.slide-cover h1 {
    color: var(--darkmode-text);
    font-size: 40pt;
    width: 800px;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 50px;
}

section.slide-cover h2 {
    color: var(--darkmode-text);
    font-size: 34pt;
    width: 800px;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 10px;
}

section.slide-cover footer {
    background-color: var(--darkmode-accent);
    color: var(--darkmode-text);
}

/* ::after is page number */
section.slide-cover::after {
    color: var(--darkmode-text);
}

section.slide-cover a {
    color: var(--darkmode-accent);
}





/* 2.1 TITLE OR IMAGE 1/3 LEFT, CONTENT 2/3 RIGHT */
section.slide-onethirdleft-twothirdsright divline {
    background-color: var(--lightmode-accent);

    width: 2px;
    height: 625px;
    position: fixed;

    top: 49px;
    left: 491px;
}

section.slide-onethirdleft-twothirdsright left {
    background-color: aqua;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;

    width: 395px;
    height: 625px;
    position: fixed;
    top: 49px;
    left: 66px;
}

section.slide-onethirdleft-twothirdsright right {
    background-color: aqua;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    width: 691px;
    height: 625px;
    position: fixed;
    top: 49px;
    right: 66px;
}

section.slide-onethirdleft-twothirdsright img:not(header img) {
    order: -1;
    width: 200px;
}

section.slide-onethirdleft-twothirdsright h1 {
    text-align: right;
    margin-right: 30px;
}





/* 2.2 HEADER, CONTENT 1/3 LEFT, CONTENT 2/3 RIGHT */
section.slide-header-onethirdleft-twothirdsright h1 {
    width: 1082px;
    height: 120px;

    position: fixed;
    left: 88px;
    top: 38px;

    display: flex;
    align-items: center;
}

section.slide-header-onethirdleft-twothirdsright divline {
    background-color: var(--lightmode-accent);

    width: 2px;
    height: 511px;
    position: fixed;

    top: 156px;
    left: 491px;
}

section.slide-header-onethirdleft-twothirdsright left {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: right;

    width: 395px;
    height: 511px;
    position: fixed;
    top: 156px;
    left: 66px;
}

section.slide-header-onethirdleft-twothirdsright right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    width: 691px;
    height: 511px;
    position: fixed;
    top: 156px;
    right: 66px;
}

section.slide-header-onethirdleft-twothirdsright img:not(header img) {
    order: -1;
    width: 200px;
}







/* 2.2 HEADER, HALF LEFT, HALF RIGHT */
section.slide-header-halfleft-halfright h1 {
    width: 1082px;
    height: 120px;

    position: fixed;
    left: 88px;
    top: 38px;

    display: flex;
    align-items: center;
}

section.slide-header-halfleft-halfright divline {
    background-color: var(--lightmode-accent);

    width: 2px;
    height: 511px;
    position: fixed;

    top: 156px;
    left: 639px;
}

section.slide-header-halfleft-halfright left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;

    width: 543px;
    height: 511px;
    position: fixed;
    top: 156px;
    left: 66px;
}

section.slide-header-halfleft-halfright right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    width: 543px;
    height: 511px;
    position: fixed;
    top: 156px;
    right: 66px;
}

section.slide-header-halfleft-halfright img:not(header img) {
    order: -1;
    width: 200px;
}





/* 3. DEFINITION: HEADER, SUBTITLE, CONTENT */
section.slide-definition {
    background-color: var(--darkmode-background);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

section.slide-definition h1 {
    text-align: left;
    font-size: 36pt;
    color: var(--darkmode-text);

    position: relative;
    left: 40px;
}

section.slide-definition h2 {
    text-align: left;
    font-size: 32pt;
    color: var(--darkmode-text);

    position: relative;
    top: -35px;
    left: 40px;
}

section.slide-definition p {
    text-align: left;
    font-size: 22pt;
    line-height: 120%;
    font-weight: bold;
    color: var(--darkmode-text);

    position: relative;
    top: -25px;
    left: 40px;
}

section.slide-definition footer {
    background-color: var(--darkmode-accent);
    color: var(--darkmode-text);
}





/* 4. HEADER AND CONTENT (CAN BE IMAGES, TEXT, BULLETS) */
section.slide-header-content h1 {
    width: 1082px;
    height: 120px;

    position: fixed;
    left: 88px;
    top: 38px;

    display: flex;
    align-items: center;
}

section.slide-header-content divline {
    background-color: var(--lightmode-accent);

    height: 2px;
    position: fixed;

    top: 135px;
    left: 66px;
    right: 66px;
}

section.slide-header-content contentarea {
    display: flex;
    flex-direction: column;
    align-items: start ;
    justify-content: center;

    height: 511px;
    width: 1082px;
    position: fixed;
    top: 156px;
    left: 66px;
    right: 66px;
}





/* 4.2 HEADER SUBHEADER AND CONTENT (CAN BE IMAGES, TEXT, BULLETS) */
section.slide-header-subheader-content h1 {
    width: 1082px;
    height: 60px;

    position: fixed;
    left: 88px;
    top: 38px;

    text-align: left;
}

section.slide-header-subheader-content h2 {
    font-size: 34px;
    font-weight: 800;
    width: 1082px;
    height: 60px;

    position: fixed;
    left: 88px;
    top: 90px;

    text-align: left;
}

section.slide-header-subheader-content divline {
    background-color: var(--lightmode-accent);

    height: 2px;
    position: fixed;

    top: 135px;
    left: 66px;
    right: 66px;
}

section.slide-header-subheader-content contentarea {
    display: flex;
    flex-direction: column;
    align-items: start ;
    justify-content: center;

    height: 511px;
    width: 1082px;
    position: fixed;
    top: 156px;
    left: 66px;
    right: 66px;
}





/* 5.1 BACKGROUND IMAGE WITH RIGHT NOTE*/
section.slide-image-rightnote box {
    background-color: #1434568c;

    border-left: 8px solid var(--darkmode-accent);

    padding-left: 40px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    width: 900px;
    height: auto;

    padding-top: 25px;
    padding-bottom: 25px;

    position: absolute;
    top: 480px;
    left: 330px;
}

section.slide-image-rightnote h1 {
    color: #FFFFFF;
}

section.slide-image-rightnote p {
    color: #FFFFFF;
}




/* 5.2 BACKGROUND IMAGE WITH CENTERED NOTE*/
section.slide-image-centerednote box {
    background-color: #1434568c;

    /* border-top: 8px solid var(--darkmode-accent); */

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;

    position: absolute;
    top: auto;
    bottom: auto;
    left: 150px;
    right: 150px;
}

section.slide-image-centerednote h1 {
    text-align: center;
    color: #FFFFFF;
}

section.slide-image-centerednote p {
    text-align: center;
    color: #FFFFFF;
}





/* 6. OUTRO SLIDE 1 */
section.slide-thanks {
    background-color: var(--darkmode-background);
}

section.slide-thanks h1 {
    color: var(--darkmode-text);
}

section.slide-thanks h2 {
    color: var(--darkmode-text);
}

section.slide-thanks a {
    color: var(--darkmode-text);
}

section.slide-thanks footer {
    background-color: var(--darkmode-accent);
    color: var(--darkmode-text);
}






/* 7. VIDEO SLIDE */
section.slide-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
}

section.slide-video p {
    background-color: rgba(255, 255, 255, 0.8);

    border-left: 8px solid var(--darkmode-accent);

    padding-left: 40px;

    display: flex;
    align-items: center;
    justify-content: left;

    width: 900px;
    height: 150px;

    position: absolute;
    top: 480px;
    left: 330px;
}





/* 8. DEMO */
section.slide-demo {
    background-color: var(--darkmode-background);
}

section.slide-demo h1 {
    color: var(--darkmode-text);
    width: 1082px;
    height: 60px;

    position: fixed;
    left: 88px;
    top: 38px;

    text-align: left;
}

section.slide-demo h2 {
    color: var(--darkmode-text);
    font-size: 34px;
    font-weight: 800;
    width: 1082px;
    height: 60px;

    position: fixed;
    left: 88px;
    top: 90px;

    text-align: left;
}

section.slide-demo p {
    color: var(--darkmode-text);
}

section.slide-demo divline {
    background-color: var(--darkmode-accent);

    height: 2px;
    position: fixed;

    top: 135px;
    left: 66px;
    right: 66px;
}

section.slide-demo contentarea {
    color: var(--darkmode-text);
    display: flex;
    flex-direction: column;
    align-items: start ;
    justify-content: center;

    height: 511px;
    width: 1082px;
    position: fixed;
    top: 156px;
    left: 66px;
    right: 66px;
}

section.slide-demo li {
    color: var(--darkmode-text);
}